@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #0775B8;
  --secondary2: #DFF5FF;
  /* --secondary: #4C50E8; */
  --primary: #032D5F;
  --background2: #DFF5FF;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary2: var(--secondary2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
